.node-blog-article-full .dlog_social_share {
  margin-bottom: 25px;
}
.node-blog-article-full .node-blog-article-field-paragraphs--full {
  margin-bottom: 50px;
}
.node-blog-article-full .previous_next {
  margin-bottom: 50px;
}