.node-blog-article-teaser {
  margin-bottom: 20px;
}
.node-blog-article-teaser__image {
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
.node-blog-article-teaser__tags {
  font-size: 14px;
}
.node-blog-article-teaser__tags .field__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}
.node-blog-article-teaser__tags .field__item {
  margin-right: 5px;
}
.node-blog-article-teaser__tags .field__item:last-child {
  margin-right: 0;
}
.node-blog-article-teaser__tags a {
  display: block;
  color: #fdf3f3;
  background-color: #3857ef;
  border-radius: 2px;
  padding: 2px 6px;
  margin: 2px 0;
}
.node-blog-article-teaser__tags a:hover {
  background-color: #cb6d5e;
}
.node-blog-article-teaser__title {
  font-size: 20px;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.node-blog-article-teaser__title a {
  color: black;
}
.node-blog-article-teaser__title a :hover {
  color: blue;
}
.node-blog-article-teaser__meta {
  font-size: 18px;
  color: #b2b2b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.node-blog-article-teaser__created::before {
  content: "";
  padding: 0 25px 0 0;
  background: url(../../../assets/icons/time/calendar-clock.png) 0 0 no-repeat;
}
.node-blog-article-teaser__estimated_read_time::before {
  content: "";
  margin: 0 0 0 20px;
  padding: 0 30px 0 0;
  background: url(../../../assets/icons/time/av-timer.png) 0 0 no-repeat;
}