.blog-article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blog-article__content .views-row {
  max-width: 33.333%;
  width: auto;
  margin: 0 0 8px 0;
}