.previous_next {
  display: flex;
  justify-content: space-between;

  &__previous,
  &__next {
    width: 47%;
  }
}

.previous_next {
  &--blog-article & {
    &__previous,
    &__next {
      border-radius: 8px;
      overflow: hidden;
      background-color: #e3e0e0;
    }

    &__link {
      display: flex;
      align-items: center;
      padding: 10px;
      height: 100%;
      position: relative;
      color: rgba(white, 0.9);
      background-color: #e3e0e0;
      &--next {
        justify-content: right;
      }

    }

    &__promo-image {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(black, 0.4);
      }
    }

    &__icon {
      position: relative;
      z-index: 10;
      &--previous {
        background: url(../../../assets/icons/pointers/arrow-left-circle-outline.png) 0 0 no-repeat;
        width: 30px;
        height: 24px;
        margin: 0 20px 0 0 ;
      }
      &--next {
        background: url(../../../assets/icons/pointers/arrow-right-bold-circle-outline.png) 0 0 no-repeat;
        width: 30px;
        height: 24px;
        margin: 0 0 0 20px;
      }
    }

    &__content {
      position: relative;
      z-index: 10;
      &--next {
        text-align: right;
      }
    }

    &__tag {
      color: green;
      font-weight: 700;
      &:not(:last-child)::after {
        content: ',';
        display: inline;
      }
    }
  }
}
