{% extends 'paragraph.html.twig' %}

{% block content %}

  {{ content.field_title }}

  <div class="{{ block }}__image_and_text">
    {{ content|without('field_title') }}
  </div>
{% endblock content %}

