.node-blog-article-full {
  .dlog_social_share {
    margin-bottom: 25px;
  }

  .node-blog-article-field-paragraphs--full {
    margin-bottom: 50px;
  }

  .previous_next {
    margin-bottom: 50px;
  }

  .node-blog-article-field-attachments {
    margin: 0 -18px 36px -18px;
    padding: 18px;
    background: #fcf6f6;
    border-top: 1px solid #f5eaea;
    border-bottom: 1px solid #f5eaea;
    &__label {
      font-size: 24px;
      text-align: center;
      margin: 0 0 18px 0;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      width: 33.333%;
    }
  }

  .dlog-blog-related-post {
    margin: -24px 0 0 0;
  }

}
