.node-blog-article-teaser {
  margin-bottom: 20px;
  &__image {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba( black, 0.1);
    margin-bottom: 5px;
  }

  &__tags {
    font-size: 14px;
    .field__items {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
    .field__item {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }

    & a {
      display: block;
      color: #fdf3f3;
      background-color: #3857ef;
      border-radius: 2px;
      padding: 2px 6px;
      margin: 2px 0;
      &:hover {
        background-color: #cb6d5eff;
      }
    }

  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    flex: 1 1 auto;
    a {
      color: black;
      :hover {
        color: blue;
      }
    }
  }

  &__meta {
    font-size: 18px;
    color: #b2b2b2;
    display: flex;
  }

  &__created::before {
    content: '';
    padding: 0 25px 0 0;
    background:  url(../../../assets/icons/time/calendar-clock.png) 0 0 no-repeat;
  }

  &__estimated_read_time::before {
    content: '';
    margin: 0 0 0 20px;
    padding: 0 30px 0 0;
    background:  url(../../../assets/icons/time/av-timer.png) 0 0 no-repeat;
  }

}
