{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
  {% include '@blogger/include/header.html.twig' %}

  <main class="{{ bem_block }}__content main-layout" >
    <div class="main-layout__inner">
      {{ page.sidebar_first }}
      {{ page.content }}
    </div>
  </main>

  {% include '@blogger/include/footer.html.twig' %}
</div>
