.blog-article {
  &__content {
    display: flex;
    flex-wrap: wrap;
    .views-row {
      max-width: 33.333%;
      width: auto;
      margin: 0 0 8px 0;
      display: flex;
      & > article {
        display: flex;
        flex-direction: column;
      }
    }
  }
}


