.blog-article {
  &__content {
    display: flex;
    flex-wrap: wrap;
    .views-row {
      max-width: 33.333%;
      width: auto;
      margin: 0 0 8px 0;
      display: flex;
    }
  }
}

.taxonomy-term {
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: -17px;
    .views-row {
      max-width: 25%;
      width: auto;
      margin: 0 0 8px 0;
      padding: 19px;
      display: flex;
    }
  }
}

