.dlog_label_with_icon_media_formatter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dlog_label_with_icon_media_formatter__icon {
  margin: 0 10px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  width: 70px;
}
.dlog_label_with_icon_media_formatter__icon svg {
  width: 100%;
}
.dlog_label_with_icon_media_formatter__label {
  display: block;
  color: #696666;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin: 3px 0 0 0;
}
.dlog_label_with_icon_media_formatter__filesize {
  color: #696666;
  font-size: 14px;
}