.dlog_social_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dlog_social_share__label {
  color: #696666;
  font-size: 34px;
  margin: 0 20px 0 0;
}
.dlog_social_share__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
}
.dlog_social_share__link {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px 0 0 10px;
}
.dlog_social_share__link:first-child {
  margin: 5px 0 0 0;
}
.dlog_social_share__link:hover {
  opacity: 0.8;
}